<div class="main">
    <div class="inner__holder container">
        <div class="advice__title">ADVICE # {{advice__count}}</div>
        <div class="advice__content">
            {{advice__data}}
        </div>
        <div class="advice__pause__icon">
            <img src="assets/images/pattern-divider-mobile.svg" 
            alt="pattern-divider-mobile.svg">
        </div>
        <div class="advice__random__generator__holder" (click)="advice__counter();">
                <img src="assets/images/icon-dice.svg" 
                alt="icon-dice.svg">
        </div>
    </div>
</div>
